trunk/jbidibc/src/main/resources/xsd/macros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:bidib="http://www.bidib.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	targetNamespace="http://www.bidib.org" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:complexType name="LcMacroPointType" abstract="true">
		<xsd:sequence>
			<xsd:element name="delay" type="bidib:MacroDelayType"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="stepNumber" type="bidib:MacroStepNumberType"
			use="required" />
	</xsd:complexType>
	<xsd:complexType name="AnalogPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="AnalogPortActionType" type="bidib:AnalogPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CriticalSectionStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="CriticalSectionActionType" type="bidib:CriticalSectionActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DelayStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="DelayActionType" type="bidib:DelayActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FlagStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="FlagActionType" type="bidib:FlagActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InputPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="InputPortActionType" type="bidib:InputPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InputQuery0Step">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="InputQuery0ActionType" type="bidib:InputQuery0ActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InputQuery1Step">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="InputQuery1ActionType" type="bidib:InputQuery1ActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LightPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="LightPortActionType" type="bidib:LightPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MacroActionStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="MacroActionType" type="bidib:MacroActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MotorPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="MotorPortActionType" type="bidib:MotorPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RandomDelayStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="RandomDelayActionType" type="bidib:RandomDelayActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ServoPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="ServoPortActionType" type="bidib:ServoPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SoundPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="SoundPortActionType" type="bidib:SoundPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SwitchPortStep">
		<xsd:complexContent>
			<xsd:extension base="bidib:LcMacroPointType">
				<xsd:sequence>
					<xsd:element name="SwitchPortActionType" type="bidib:SwitchPortActionType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LcMacroType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element ref="bidib:lcMacroPoint"/>
		</xsd:sequence>
		<xsd:attribute name="macroName" type="bidib:MacroNameType" use="required"/>
		<xsd:attribute name="macroId" type="xsd:int" use="required"/>
		<xsd:attribute name="repeat" type="bidib:MacroRepeatType" use="required"/>
		<xsd:attribute name="slowdown" type="bidib:MacroSlowdownFactorType" use="required"/>
	</xsd:complexType>
	<xsd:element name="AnalogPortActionType" type="bidib:AnalogPortActionType"/>
	<xsd:element name="CriticalSectionActionType" type="bidib:CriticalSectionActionType"/>
	<xsd:element name="FlagActionType" type="bidib:FlagActionType"/>
	<xsd:element name="InputPortActionType" type="bidib:InputPortActionType"/>
	<xsd:element name="LightPortActionType" type="bidib:LightPortActionType"/>
	<xsd:element name="MacroActionType" type="bidib:MacroActionType"/>
	<xsd:element name="MotorPortActionType" type="bidib:MotorPortActionType"/>
	<xsd:element name="ServoPortActionType" type="bidib:ServoPortActionType"/>
	<xsd:element name="SoundPortActionType" type="bidib:SoundPortActionType"/>
	<xsd:element name="SwitchPortActionType" type="bidib:SwitchPortActionType"/>
	<xsd:element name="DelayActionType" type="bidib:DelayActionType"/>
	<xsd:element name="RandomDelayActionType" type="bidib:RandomDelayActionType"/>
	<xsd:element name="InputQuery0ActionType" type="bidib:InputQuery0ActionType"/>
	<xsd:element name="InputQuery1ActionType" type="bidib:InputQuery1ActionType"/>
	<xsd:simpleType name="MacroNameType">
		<xsd:annotation>
			<xsd:documentation>The name of the macro</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacroRepeatType">
		<xsd:annotation>
			<xsd:documentation>The number of repeats of the macro</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacroSlowdownFactorType">
		<xsd:annotation>
			<xsd:documentation>The slowdown factor of the macro</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacroStepNumberType">
		<xsd:annotation>
			<xsd:documentation>The number of the macro step</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacroDelayType">
		<xsd:annotation>
			<xsd:documentation>The delay of the macro step</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CriticalSectionActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BEGIN"/>
			<xsd:enumeration value="END"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DelayActionType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RandomDelayActionType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="FlagActionType">
		<xsd:sequence>
			<xsd:group ref="bidib:FlagParams"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="FlagParams">
		<xsd:sequence>
			<xsd:element name="operation" type="bidib:FlagOperationType"/>
			<xsd:element name="portNumber" type="bidib:PortNumberType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="FlagOperationType">
		<xsd:annotation>
			<xsd:documentation>The operation that is performed on the flag</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CLEAR"/>
			<xsd:enumeration value="QUERY"/>
			<xsd:enumeration value="SET"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="MacroActionType">
		<xsd:sequence>
			<xsd:group ref="bidib:MacroParams"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="MacroParams">
		<xsd:sequence>
			<xsd:element name="operation" type="bidib:MacroOperationType"/>
			<xsd:element name="portNumber" type="bidib:PortNumberType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="MacroOperationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="START"/>
			<xsd:enumeration value="STOP"/>
			<xsd:enumeration value="END"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SwitchPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="OFF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InputPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="ON"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SoundPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="START"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AnalogPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="START"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServoPortActionType">
		<xsd:sequence>
			<xsd:group ref="bidib:ServoPortParams"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ServoActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="START"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServoDestinationType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:group name="ServoPortParams">
		<xsd:sequence>
			<xsd:element name="action" type="bidib:ServoActionType"/>
			<xsd:element name="destination" type="bidib:ServoDestinationType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="MotorPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FORWARD"/>
			<xsd:enumeration value="BACKWARD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LightPortActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="UP"/>
			<xsd:enumeration value="DOWN"/>
			<xsd:enumeration value="NEON"/>
			<xsd:enumeration value="BLINKA"/>
			<xsd:enumeration value="BLINKB"/>
			<xsd:enumeration value="FLASHA"/>
			<xsd:enumeration value="FLASHB"/>
			<xsd:enumeration value="DOUBLEFLASH"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InputQuery0ActionType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InputQuery1ActionType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PortNumberType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LcOutputType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ANALOGPORT"/>
			<xsd:enumeration value="DELAY"/>
			<xsd:enumeration value="RANDOMDELAY"/>
			<xsd:enumeration value="INPUTQUERY0"/>
			<xsd:enumeration value="INPUTQUERY1"/>
			<xsd:enumeration value="FLAGCLEAR"/>
			<xsd:enumeration value="FLAGSET"/>
			<xsd:enumeration value="FLAGQUERY"/>
			<xsd:enumeration value="CRITICALSECTION"/>
			<xsd:enumeration value="STARTMACRO"/>
			<xsd:enumeration value="STOPMACRO"/>
			<xsd:enumeration value="ENDOFMACRO"/>
			<xsd:enumeration value="LIGHTPORT"/>
			<xsd:enumeration value="SERVOPORT"/>
			<xsd:enumeration value="SOUNDPORT"/>
			<xsd:enumeration value="SWITCHPORT"/>
			<xsd:enumeration value="MOTORPORT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="lcMacro" type="bidib:LcMacroType"/>
	<xsd:element name="lcMacroPoint" type="bidib:LcMacroPointType"/>
	<xsd:element name="lcMacros">
		<xsd:annotation>
			<xsd:documentation>LC macros definition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="bidib:lcMacro" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
